body{
  
  background-color: rgb(58, 53, 53);
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  width: 90vw;
  margin: 0 auto;
}

h1{
  margin-top: 64px;
  margin-bottom: 32px;
}


.formulario{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
}

.formulario h3{
  padding-right: 16px;
}

.formulario input{
  width: 400px;
  padding: 4px;
  outline: none;
  border-radius: 5px;
}

button{
  margin-top: 32px;
  width: 80px;
  height: 30px;
  background-color: #ddd;
  cursor: pointer;
  border-radius: 5px;
}

